body{
    background-color:#312E2B ;
    margin: 0;
}
.text{
    color: white;
    text-align: center;
    font-size: 20pt;
    margin: 0; 
    padding-top: 20px;  
}
.menu-irems{
    z-index: 20;
}
.boardContainer{
    width: fit-content;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.playerViewContainer{
    width: 100%;
    height: fit-content;
    padding-bottom: 2%;
}

.showEatenPiece{
    width: 100%;
    height: 18pt;
    display: flex; 
    flex-direction: row;
    padding-left: 4%;
}

.eatenPieceImage{
    height: 18pt;
    width: 18pt;
}

.board{
    width: 100%;
}

.popUPContainer{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: #312e2b5e;

}

.popUPWindow{
    background-color: #eaeaea;
    border-radius: 20px;
    height: fit-content;
    min-height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:baseline;
}

.chessPieceChoiceButton{
    background-color: #eaeaea;
    border: 0px;
    height: 17%;
    width: 17%;
}

.roundBottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.roundTop{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table{
   height: 100%;
   width: 100%;
   border-collapse:collapse;
}

.chessFigure{
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: auto;
}

#black{
    background-color: #4E6B93;
}
#white{
    background-color: #EAEDDC;
}

#popUPHeader{
    background-color: #5f5e5d;
    height: 30%;
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
}
#popUPHeader>h1{
    color: white;
    font-size: 18pt;
    text-align: center;
    padding-top: 20px;
}

#drag-element{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.buttonStyle1{
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #4E6B93;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #394e6b;
    height: 50px;
    padding: 0 32px;
    font-size: 26px;
    font-weight: bolder;
    border-radius: 6px;
    color: #FCFCFD;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    
}
.buttonStyle1:hover {
        transform: translateY(-2px);
}
.buttonStyle1:active{
        box-shadow: inset 0px 3px 7px #000000;
        transform: translateY(2px);
}

#popUPButton{
    margin-top: 5%;
    align-self: center;
}
    
.selectedCell{
    box-shadow: inset 0px 3px 7px #171f2b;
}

.profileImage{
    height: 40px;
    width: 40px;
    border-radius: 7.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profileViewContainer, .profileView{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    color: white;
    font-weight: 500;
    padding: 2%;
    padding-bottom: 0%;
}

.profileText{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.profileRaiting{
    font-size:x-small;
}

.profileView>p{
    padding-left: 15px;
}

.timer{
    background-color: black;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 80px;
}

.timerActive{
    background-color: white;
    color: #000000;
}

.timer>p{
    text-align: center;
}

#showResult>h1{
    color:#312E2B;
    width: 170px;
    text-align: center;
    padding-top: 40px;
    font-size: 1.68em;
}
#showResult>.profileViewContainer
{
    flex-direction: column;
    align-items: center;
    color: #312E2B;
}

#showResult>.profileViewContainer>.profileImage{
   height: 4em;
    width: 4em;
}

.profileNameMessage{
    font-size: 1.1em;
    font-weight: 600;
 }
 


#showResult{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.5rem;
}

@media screen and (orientation:portrait) {
    .boardContainer{
        width: 100%;
    }
}