body{
    background-color:#312E2B ;
    margin: 0;
}
.text{
    color: white;
    text-align: center;
    font-size: 30pt;
    margin: 0; 
    padding-top: 20px;  
}

.board{
    width: 40%;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
 
}

table{
   height: 100%;
   width: 100%;
   border-collapse:collapse;
}

.chessFigure{
    object-fit: fill;
    height: 100%;
    width: 100%;
    margin: auto;
}

#black{
    background-color: #4E6B93;
}
#white{
    background-color: #EAEDDC;
}

.selectedCell{
    box-shadow:0px 0px 0px 4px #b9c3af inset;
}


@media screen and (orientation:portrait) {
    .board{
        width: 100%;
    }
 }
